/* NOTE: this file was created from less/demo.less */
/*--- custom styled tooltips for the demo ---*/
.tooltip.gray .tooltip-inner {
  color: #ffffff;
  background-color: #555555;
}
.tooltip.gray.top .tooltip-arrow {
  border-top-color: #555555;
}
.tooltip.gray.left .tooltip-arrow {
  border-left-color: #555555;
}
.tooltip.gray.right .tooltip-arrow {
  border-right-color: #555555;
}
.tooltip.gray.bottom .tooltip-arrow {
  border-bottom-color: #555555;
}
.tooltip.gray.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.yellow .tooltip-inner {
  color: #000000;
  background-color: #ffffd0;
  border: 1px solid #000000;
}
.tooltip.yellow.top .tooltip-arrow {
  border-top-color: #000000;
}
.tooltip.yellow.left .tooltip-arrow {
  border-left-color: #000000;
}
.tooltip.yellow.right .tooltip-arrow {
  border-right-color: #000000;
}
.tooltip.yellow.bottom .tooltip-arrow {
  border-bottom-color: #000000;
}
.tooltip.yellow.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.tooltip.lightgrayRed .tooltip-inner {
  color: #ff3333;
  background-color: #f0f0f0;
  border: 1px solid #333333;
}
.tooltip.lightgrayRed.top .tooltip-arrow {
  border-top-color: #333333;
}
.tooltip.lightgrayRed.left .tooltip-arrow {
  border-left-color: #333333;
}
.tooltip.lightgrayRed.right .tooltip-arrow {
  border-right-color: #333333;
}
.tooltip.lightgrayRed.bottom .tooltip-arrow {
  border-bottom-color: #333333;
}
.tooltip.lightgrayRed.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.tooltip.whiteBlue .tooltip-inner {
  color: #0088cc;
  background-color: #ffffff;
  border: 1px solid #0088cc;
}
.tooltip.whiteBlue.top .tooltip-arrow {
  border-top-color: #0088cc;
}
.tooltip.whiteBlue.left .tooltip-arrow {
  border-left-color: #0088cc;
}
.tooltip.whiteBlue.right .tooltip-arrow {
  border-right-color: #0088cc;
}
.tooltip.whiteBlue.bottom .tooltip-arrow {
  border-bottom-color: #0088cc;
}
.tooltip.whiteBlue.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
/*--- custom styled popovers for the demo ---*/
.popover.white {
  color: #4d4d4d;
  background-color: #ffffff;
}
.popover.white .popover-title {
  color: #3b3b3b;
  background-color: #ededed;
  border-bottom-color: #dbdbdb;
}
.popover.white.top .arrow:after {
  border-top-color: #ffffff;
}
.popover.white.right .arrow:after {
  border-right-color: #ffffff;
}
.popover.white.bottom .arrow:after {
  border-bottom-color: #ffffff;
}
.popover.white.left .arrow:after {
  border-left-color: #ffffff;
}
.popover.lime {
  color: #3f7a00;
  background-color: #f0ffe0;
}
.popover.lime .popover-title {
  color: #2d5600;
  background-color: #dfffbc;
  border-bottom-color: #cdff99;
}
.popover.lime.top .arrow:after {
  border-top-color: #f0ffe0;
}
.popover.lime.right .arrow:after {
  border-right-color: #f0ffe0;
}
.popover.lime.bottom .arrow:after {
  border-bottom-color: #f0ffe0;
}
.popover.lime.left .arrow:after {
  border-left-color: #f0ffe0;
}
.popover.black {
  color: #b3b3b3;
  background-color: #000000;
}
.popover.black .popover-title {
  color: #f0f0f0;
  background-color: #3d3d3d;
  border-bottom-color: #1f1f1f;
}
.popover.black.top .arrow:after {
  border-top-color: #000000;
}
.popover.black.right .arrow:after {
  border-right-color: #000000;
}
.popover.black.bottom .arrow:after {
  border-bottom-color: #000000;
}
.popover.black.left .arrow:after {
  border-left-color: #000000;
}
.popover.blueWhite {
  color: #333333;
  background-color: #ffffff;
}
.popover.blueWhite .popover-title {
  color: #ffffff;
  background-color: #0088cc;
  border-bottom-color: #0066aa;
}
.popover.blueWhite.top .arrow:after {
  border-top-color: #ffffff;
}
.popover.blueWhite.right .arrow:after {
  border-right-color: #ffffff;
}
.popover.blueWhite.bottom .arrow:after {
  border-bottom-color: #ffffff;
}
.popover.blueWhite.left .arrow:after {
  border-left-color: #ffffff;
}
.popover.blueWhiteblue {
  border-color: #00aaff;
  border-color: rgba(0, 200, 255, 0.25);
  color: #333333;
  background-color: #ffffff;
}
.popover.blueWhiteblue .popover-title {
  color: #ffffff;
  background-color: #0088cc;
  border-bottom-color: #0066aa;
}
.popover.blueWhiteblue.top .arrow:after {
  border-top-color: #ffffff;
}
.popover.blueWhiteblue.right .arrow:after {
  border-right-color: #ffffff;
}
.popover.blueWhiteblue.bottom .arrow:after {
  border-bottom-color: #ffffff;
}
.popover.blueWhiteblue.left .arrow:after {
  border-left-color: #ffffff;
}
.popover.blueWhiteblue.top .arrow {
  border-top-color: #00aaff;
  border-top-color: rgba(0, 200, 255, 0.25);
}
.popover.blueWhiteblue.right .arrow {
  border-right-color: #00aaff;
  border-right-color: rgba(0, 200, 255, 0.25);
}
.popover.blueWhiteblue.bottom .arrow {
  border-bottom-color: #00aaff;
  border-bottom-color: rgba(0, 200, 255, 0.25);
}
.popover.blueWhiteblue.left .arrow {
  border-left-color: #00aaff;
  border-left-color: rgba(0, 200, 255, 0.25);
}
