<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">RedisPAPA</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <!--ul class="nav navbar-nav">
                <li>
                  <a href="https://github.com/no13bus/redispapa" target="_blank"><i class="fa fa-github"></i> Github</a>
                </li>
            </ul-->

            <ul class="nav navbar-nav navbar-right">
                <div class="col-lg-12">
                    <select class="form-control" ng-model="server">
                        <option ng-repeat="s in servers">{{ s }}</option>
                    </select>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="padding: 10px;" ng-if="error_msg">
        <div class="alert alert-dismissible alert-danger col-md-4">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>{{ error_msg }}!</strong>
        </div>
    </div>


    <h3 class="text-info">Charts</h3>
    <div class="row" style="margin:50px auto">
        <highchart id="commands" config="chartConfig_cmd" class="col-md-4"></highchart>
        <highchart id="cpu" config="chartConfig_cpu" class="col-md-4"></highchart>
        <highchart id="mem" config="chartConfig_mem" class="col-md-4"></highchart>
    </div>
    <h3 class="text-info">Table</h3>
    <div class="row">
        <table id="table" class="table table-bordered col-md-5 table-striped">
            <th>time</th>
            <th><span class="tip defaultTip" title="used_cpu_user">us</span></th>
            <th><span class="tip defaultTip" title="used_cpu_system">sy</span></th>
            <th><span class="tip defaultTip" title="connected_clients">cl</span></th>
            <th><span class="tip defaultTip" title="blocked_clients">bcl</span></th>
            <th><span class="tip defaultTip" title="used_memory">mem</span></th>
            <th><span class="tip defaultTip" title="used_memory_rss">rss</span></th>
            <th><span class="tip defaultTip" title="keys">keys</span></th>
            <th><span class="tip defaultTip" title="total_commands/second">cmd/s</span></th>
            <th><span class="tip defaultTip" title="expired_keys/second">exp/s</span></th>
            <th><span class="tip defaultTip" title="evicted_keys/second">evt/s</span></th>
            <th><span class="tip defaultTip" title="keyspace_hits/second">hit/s</span></th>
            <th><span class="tip defaultTip" title="keyspace_misses/second">mis/s</span></th>
            <th><span class="tip defaultTip" title="aof_current_size/second">aofcs/s</span></th>
            <tr ng-repeat="row in table track by $index">
                <td ng-repeat="td in row track by $index">
                    {{ td }}
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3 class="text-info">Redis-Server</h3>
            <table id="stat" class="table table-bordered table-striped">
                <tr ng-repeat="(k, v) in stat track by $index">
                    <td style="font-weight: bold;">{{ k }}</td>
                    <td>{{ v }}</td>

                </tr>
            </table>
        </div>
        <div class="col-md-8">
            
            <h3 class="text-info">Command Exec</h3>
            <div class="form-inline" style="margin: 10px;">
              <div class="form-group">
                <label for="command">Command</label>
                <input type="text" ng-model="command" class="form-control" id="command" placeholder="redis cmd">
              </div>
              <div class="form-group">
                <label for="args">Args</label>
                <input type="text" ng-model="args" class="form-control" id="args" placeholder="args for cmd">
              </div>
                <button class="btn btn-primary" ng-click="send_command(command,args,server)">Send!</button>

            </div>
           <!--  <div class="well well-lg" ng-if="results">
                <p ng-repeat="r in results track by $index">{{ r }}</p>
            </div> -->
            <div class="well well-lg" ng-if="result" data-ng-bind-html="result">
                <p>{{ result }}</p>
            </div>
        </div>
    </div>


    <div class="row">
        
        <div class="col-md-12">
            <h3 class="text-info">Command Analysis</h3>
            <form name="myForm" class="form-inline" style="margin: 10px;">
                <p class="text-warning">Note:command Analysis will impact the server,so do not use it too often!</p>
                <button class="btn btn-primary" ng-click="send_command_monitor()" ng-disabled="monitoring || !duration">Analysis!</button>
                <label>Duration:
                    <input type="number" ng-model="duration" name="duration" min="5" max="120" required>(seconds)
                </label>

                <p class="text-danger" ng-if="!duration">Duration should be more than 5 secs and less than 120 secs<p> 

            </form>
            <div class="well well-lg" ng-if="commands_time">
                <h4 class="text-info">Commands Time Distribution</h3>
                <p>{{ commands_time }}</p>
            </div>
            <div class="well well-lg" ng-if="heaviest_commands">
                <h4 class="text-info">Heaviest Commands</h3>
                <p>{{ heaviest_commands }}</p>
            </div>
            <div class="well well-lg" ng-if="slowest_commands">
                <h4 class="text-info">Slowest Commands</h3>
                <p>{{ slowest_commands }}</p>
            </div>
            <div class="well well-lg" ng-if="top_commands">
                <h4 class="text-info">Top Commands</h3>
                <p>{{ top_commands }}</p>
            </div>
            <div class="well well-lg" ng-if="top_keys">
                <h4 class="text-info">Top Keys</h3>
                <p>{{ top_keys }}</p>
            </div>
            <div class="well well-lg" ng-if="result_monitor" data-ng-bind-html="result_monitor">
                <p>{{ result_monitor }}</p>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function() {
            $('.defaultTip').tooltip();
        });
</script>