<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RedisMAMA</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body style="padding: 60px 25px 25px 25px;" ng-app="myApp" ng-controller="RedisCtl">
    <div ng-view>
    </div>
</body>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/socket.io/0.9.16/socket.io.min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.3.7/angular.min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.3.7/angular-route.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/highcharts/4.0.4/highcharts.js"></script>
<script src="http://cdn.bootcss.com/highcharts/4.0.4/modules/exporting.js"></script>
<script src="/static/libs/ng-socket-io.js"></script>
<script src="/static/libs/highcharts-ng.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/controllers.js"></script>
<script src="/static/libs/tipover.js"></script>


</html>